## Master Python for Data Science, Machine Learning, Automation
#### Complete Python Guide for Data Science, Machine Learning, AI, and Automation with Practical Projects

#### Udemy

### 3. Variables, Data Types & Operators Part-1

Variable: an open space or a box wich is going to store information for you or whatever information you put inside of it is going to be known as variable

In [4]:
# tipos de numero
a = 2 # entero
b = 2.1 # decimal
c = 5+2j # Complejo
print(type(a), type(b), type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [8]:
# String
string = "Hello World"
print(string)
print(string.upper())
print(string.lower())
#Slice
print(string[0:5])

Hello World
HELLO WORLD
hello world
Hello

In [9]:
# Bolean
is_student = True
print(is_student, type(is_student))

True <class 'bool'>

### 4. Variables, Data Types & Operators Part-2

In [10]:
#Lista
veg = ["Chilli", "Carrots"," Onions"]

#Tupla
point = (4,8)

# Diccionario
user = {"name": "Eren", "age":32}

print(veg, point, user)

['Chilli', 'Carrots', ' Onions'] (4, 8) {'name': 'Eren', 'age': 32}

In [11]:
# Operators
x, y = 8,2

print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)

10
6
16
4.0
0
64

In [16]:
#Operatores comparativos
print(x>y) 
print(x<y)
print(x==y)

#Logical operators
a, b =  True, False
print (a and b)
print (a or b)
print (not a)
print (not b)

#Assigment operators
g = 5
g += 3
print(g)

True
False
False
False
True
False
True
8

### 5. Control Flow (if, for, while)

In [19]:
# if condition N°1
a = 11
if a > 9:
    print("Si, es correcto")

Si, es correcto

In [21]:
# if condition N°2
age = 15
if age >= 18:
    print("Adulto")
else:
    print("Menor")

Menor

In [26]:
# if condition N° 3
points = 86
if points >= 85:
    print("Grado A")
elif points >=75:
    print("Grado B")
else:
    print("Grado C")

Grado A

In [28]:
# if condition N° 4
id = -2
if id > 0:
    if id % 2 == 0:
        print("Positivo par")
    else:
         print("Positivo impar")
else:
    print("No Positivo")

No Positivo

In [29]:
# For loops"
# Recorrer lista
letters = ["a", "b","c","d","e"]

for x in letters:
    print(x)

a
b
c
d
e

In [32]:
for i in range (0,5):
    print(i)

0
1
2
3
4

In [33]:
total = 0
for i in range (1,12):
    total += i

print("Suma: ", total)

Suma:  66

In [34]:
#Nested loop
for i in range (1,5):
    for j in range (1,5):
        print( i, "*", j, "=", i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16

In [35]:
# While loop
#Se repite hasta que sea falso 

count = 1
while count <=12:
    print("Count is: ", count)
    count +=1

Count is:  1
Count is:  2
Count is:  3
Count is:  4
Count is:  5
Count is:  6
Count is:  7
Count is:  8
Count is:  9
Count is:  10
Count is:  11
Count is:  12

In [36]:
# Break dentro while loop

j = 1
while True:
    print(j)
    if j == 6:
        break
    
    j+= 1

1
2
3
4
5
6

In [37]:
j = 0
while j < 8:
    j +=1
    if j == 2: #cuanto sea 2 continua no lo muextra
        continue
    print(j)

1
3
4
5
6
7
8

In [38]:
sec = 5
gue = 0

while gue != sec:
    gue = int(input("Numero del 0-5: "))
    if gue == sec:
        print("Es correcto")
    else:
        print("No Es correcto")

Numero del 0-5: 2
No Es correcto
Numero del 0-5: 3
No Es correcto
Numero del 0-5: 5
Es correcto

### 6. Functions & Modules

In [40]:
#Funciones y modulos

def welcome ():
    print("Hello welcome")
welcome()

Hello welcome

In [41]:
def welcome_user(name):
    print(f"Hello {name}!")
    
welcome_user("Eren")
welcome_user("Tomas")

Hello Eren!
Hello Tomas!

In [42]:
def add (a, b):
    return a + b
resultado = add (15, 10)
print(resultado)

25

In [44]:
def pow(base, exponent =2):
    return base ** exponent

resultado = pow(6)
print(resultado)

36

In [46]:
# Retorna varios valores

def cal (a, b):
    return a+b, a-b, a*b

suma, dif, producto = cal(10, 8)

print("Suma:", suma)
print("Diferencia:", dif)
print("Producto:", producto)

Suma: 18
Diferencia: 2
Producto: 80

In [47]:
def wor_information (name, age, no):
    print(f"Name: {name}, Age: {age}, Number: {no}")
    
wor_information ("Jose", 32, 12348)

Name: Jose, Age: 32, Number: 12348

In [48]:
def total(*number): #no le digo cuantos valores voy a agrgar
    return sum(number)

print(total(5,10,15))
print(total(10,20))

30
30

In [49]:
# Diferentes detalles
def print_info(**detail):
    for key, value in detail.items():
        print(f"{key}: {value}")

print_info (name="John", age=34, state="Birmingham", id_no = 1234567)

name: John
age: 34
state: Birmingham
id_no: 1234567

In [50]:
 #Lambda function
def sqo(x):
    return x*x
#Es lo mismo pero en una sola linea
sqo_lambda = lambda x: x*x
print(sqo(8))
print(sqo_lambda(8))

64
64

In [55]:
# Modulos

import math
print("Sqare root of 16:", math.sqrt(16))
print("Pi value:", math.pi)

Sqare root of 16: 4.0
Pi: 3.141592653589793

In [56]:
from math import sqrt, factorial
print("square root", sqrt(25))
print("Factorial", factorial(5))

square root 5.0
Factorial 120

In [57]:
import math as m
print("Cosine 0", m.cos(0))

Cosine 0 1.0

In [66]:
%%writefile my_module.py

def greet(name):
    return f"Hello, {name}!"

def multi (a, b):
    return a * b

Writing my_module.py

In [68]:
# Importamos el modelo
import my_module
print(my_module.greet("Lucianito"))
print(my_module.multi(6,2))

Hello, Lucianito!
12

In [69]:
import importlib
importlib.reload(my_module)

In [ ]:
#07. Sets and file handling (read/csv, text file)

In [81]:
# set: colección desordenada de elementos únicos e inmutables, como números, cadenas de texto o tuplas

frutas = {"Banana", "Naranja","Peras"}
print(frutas)

frutas = {'Banana', 'Naranja','Peras'}
print(frutas)

numbers = {1, 1,2 , 3 , 4 , 5 , 6, 7, 8, 8, 9 , 9}
print(numbers) #No repite los numeros , porque?, es un set de datos

#Set vacio
set_vacio = set()
print(type(set_vacio))

{'Banana', 'Naranja', 'Peras'}
{'Banana', 'Naranja', 'Peras'}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [82]:
frutas.add('kiwi') 
print(frutas) #lo agrega 2dp
frutas.remove('Banana')
print(frutas)

{'Banana', 'kiwi', 'Naranja', 'Peras'}
{'kiwi', 'Naranja', 'Peras'}

In [83]:
#Vemos si esta o no
print("kiwi" in frutas)

True

In [89]:
set1 = {1, 2, 3}
set2 = {3, 4 ,5}

print("Union:", set1 | set2)
print("Intersect:", set1 & set2)
# La diferencia de conjuntos (-) devuelve todos los elementos que están en set1 pero NO están en set2.
print("Diferences:", set1 - set2)
# La diferencia de conjuntos (-) devuelve todos los elementos que no están en set1 ni en el set2.
print("Diferences:", set1 ^ set2)

Union: {1, 2, 3, 4, 5}
Intersect: {3}
Diferences: {1, 2}
Diferences: {1, 2, 4, 5}

In [90]:
no = [1, 2, 2, 2, 3, 4, 5, 5]
unique_no = set(no) #Se eliminaron los duplicados de la lista
print(unique_no)

{1, 2, 3, 4, 5}

In [91]:
# frozenset es igual que un set, pero inmutable (no se puede modificar).
fs = frozenset([1, 2, 3, 4, 5])
print(fs)

frozenset({1, 2, 3, 4, 5})

### 7. Sets & File Handling(read write CSV, text files)

In [92]:
with open("demo.txt", "w") as f:
    f.write("Hello User\n")
    f.write("Es un ejemplo de creacion de archivo\n")

In [93]:
with open("demo.txt", "r") as f:
    content = f.read()
print("File content:\n", content)

File content:
 Hello User
Es un ejemplo de creacion de archivo

In [94]:
with open("demo.txt", "r") as f:
    for line in f:
        print("Line:", line.strip())

Line: Hello User
Line: Es un ejemplo de creacion de archivo

In [98]:
import csv
data = [
    ["Name", "Age", "City"], 
    ["Eren", 32, "NY"],
    ["Lucianito", 34, "LA"],
    ["Jose", 31, "Cor"],
    
]
print(data)
with open("info.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerows(data)

[['Name', 'Age', 'City'], ['Eren', 32, 'NY'], ['Lucianito', 34, 'LA'], ['Jose', 31, 'Cor']]

In [99]:
with open("info.csv", "r") as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['Name', 'Age', 'City']
['Eren', '32', 'NY']
['Lucianito', '34', 'LA']
['Jose', '31', 'Cor']

In [104]:
   
import csv

with open("info_dict.csv", "w", newline="") as f:
    fieldnames = ["Name", "Age", "City"] 
    writer = csv.DictWriter(f, fieldnames=fieldnames)
    writer.writeheader()
    writer.writerow({"Name": "Diab", "Age": 23, "City": "Berlin"})

In [106]:
with open("info_dict.csv", "r") as f:
    reader =  csv.DictReader(f)
    for row in reader:
        print(row["Name"], row["City"])

Diab Berlin

### 08. Automating file & folder tasks (OS, shutil, pathlib)

In [47]:
import os
print(os.getcwd())
# Cambiar directorio
os.chdir(r"D:\Josefina\Proyectos")
print(os.getcwd())

D:\Josefina\Proyectos
D:\Josefina\Proyectos

In [9]:
#Listar todas las carpetas que hay
print(os.listdir())

['aeronet', 'ari', 'Busqueda laboral', 'CALPUFF', 'Datascience proyect', 'ERA', 'Estaciones', 'Health Impact', 'HYTSA', 'IVS_SP', 'LandCover', 'MAIAC', 'MODIS', 'ProyectoChile', 'salud', 'Seba', 'Sensores', 'Tesis', 'Tesis doctorado_JUrquiza_V03.docx', 'TOMTOM']

In [12]:
#Creamos carpeta
os.mkdir("demo_folder")
print(os.listdir())

['aeronet', 'ari', 'Busqueda laboral', 'CALPUFF', 'Datascience proyect', 'demo_folder', 'ERA', 'Estaciones', 'Health Impact', 'HYTSA', 'IVS_SP', 'LandCover', 'MAIAC', 'MODIS', 'ProyectoChile', 'salud', 'Seba', 'Sensores', 'Tesis', 'Tesis doctorado_JUrquiza_V03.docx', 'TOMTOM']

In [13]:
#Creamos varias carpeta
os.makedirs("demo_folder/nested/folder", exist_ok =True)

In [14]:
os.rmdir("demo_folder/nested/folder")

In [17]:
with open ("sm1.txt","w") as f:
    f.write ("hello")

In [18]:
os.rename("sm1.txt", "rm1.txt")

In [19]:
os.remove("rm1.txt")

In [20]:
with open ("sm1.txt","w") as f:
    f.write ("hello")

In [22]:
import shutil
shutil.copy("sm1.txt","example.txt")

'example.txt'

In [23]:
#Creamos carpeta
os.mkdir("demo_folder")
print(os.listdir())

FileExistsError: [WinError 183] No se puede crear un archivo que ya existe: 'demo_folder'

In [24]:
shutil.copytree("demo_folder","demo_folder_copy")

'demo_folder_copy'

In [28]:
shutil.move("sm1.txt","demo_folder_copy/sm1.txt")

In [30]:
shutil.rmtree("demo_folder_copy")

In [33]:
# Pathlib
from pathlib import Path
current = Path.cwd()
print (current)

D:\Josefina\Proyectos

In [35]:
new_path = current / "demo_folder" / "new_file.txt"
print(new_path)

D:\Josefina\Proyectos\demo_folder\new_file.txt

In [36]:
folder = current / "pathlib_demo"
folder.mkdir(exist_ok =True)

In [38]:
file = folder / "pathlib_file.txt"
file.write_text("laallalalala")
print(file.read_text())

laallalalala

In [39]:
for p in current.iterdir():
    print(p)

D:\Josefina\Proyectos\aeronet
D:\Josefina\Proyectos\ari
D:\Josefina\Proyectos\Busqueda laboral
D:\Josefina\Proyectos\CALPUFF
D:\Josefina\Proyectos\Datascience proyect
D:\Josefina\Proyectos\demo_folder
D:\Josefina\Proyectos\ERA
D:\Josefina\Proyectos\Estaciones
D:\Josefina\Proyectos\example.txt
D:\Josefina\Proyectos\Health Impact
D:\Josefina\Proyectos\HYTSA
D:\Josefina\Proyectos\IVS_SP
D:\Josefina\Proyectos\LandCover
D:\Josefina\Proyectos\MAIAC
D:\Josefina\Proyectos\MODIS
D:\Josefina\Proyectos\pathlib_demo
D:\Josefina\Proyectos\ProyectoChile
D:\Josefina\Proyectos\salud
D:\Josefina\Proyectos\Seba
D:\Josefina\Proyectos\Sensores
D:\Josefina\Proyectos\Tesis
D:\Josefina\Proyectos\Tesis doctorado_JUrquiza_V03.docx
D:\Josefina\Proyectos\TOMTOM

In [41]:
for txt_file in current.glob ("*.txt"):
    print(txt_file)

D:\Josefina\Proyectos\example.txt

### 09 Working with excel & csv
pandas , openpyxl

In [44]:
import pandas as pd
import openpyxl

In [54]:
os.chdir(r"D:\Josefina\Proyectos\Datascience proyect\Python_Analisis_datos")
print(os.getcwd())

D:\Josefina\Proyectos\Datascience proyect\Python_Analisis_datos

In [57]:
df = pd.read_csv("example.csv")
# print(df)
print(df.head(3))

      Name  Age Department  Salary
0    Alice   24         HR   50000
1      Bob   30         IT   60000
2  Charlie   22    Finance   55000

In [52]:
df.to_csv("output.csv", index =False)

In [58]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   Age         5 non-null      int64
 2   Department  5 non-null      object
 3   Salary      5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 288.0+ bytes
None

In [60]:
print(df.describe())

             Age       Salary
count   5.000000      5.00000
mean   27.800000  57000.00000
std     5.118594   4690.41576
min    22.000000  50000.00000
25%    24.000000  55000.00000
50%    28.000000  58000.00000
75%    30.000000  60000.00000
max    35.000000  62000.00000

In [61]:
print(df['Department'])

0           HR
1           IT
2      Finance
3           IT
4    Marketing
Name: Department, dtype: object

In [62]:
filtered = df[df['Age'] < 30 ]
print(filtered)

      Name  Age Department  Salary
0    Alice   24         HR   50000
2  Charlie   22    Finance   55000
3    David   28         IT   62000

In [66]:
df_excel = pd.read_excel("example.xlsx", engine = "openpyxl")
# print(df)
print(df_excel.head())

      Name  Age Department  Salary
0    Alice   24         HR   50000
1      Bob   30         IT   60000
2  Charlie   22    Finance   55000
3    David   28         IT   62000
4      Eva   35  Marketing   58000

In [67]:
df_excel.to_excel("output.xlsx", index = False, engine = "openpyxl")

In [69]:
sort_df = df.sort_values(by="Salary", ascending = False)
print(sort_df)

      Name  Age Department  Salary
3    David   28         IT   62000
1      Bob   30         IT   60000
4      Eva   35  Marketing   58000
2  Charlie   22    Finance   55000
0    Alice   24         HR   50000

In [70]:
filter_it = df[df['Department'] == "IT"]
print(filter_it)

    Name  Age Department  Salary
1    Bob   30         IT   60000
3  David   28         IT   62000

In [74]:
df.loc[df['Department'] == "IT", "Salary"] *= 1.05
df

      Name  Age Department  Salary
0    Alice   24         HR   50000
1      Bob   30         IT   66150
2  Charlie   22    Finance   55000
3    David   28         IT   68355
4      Eva   35  Marketing   58000

### 10. Web Scraping Basics (requests, Beautiful Soup)

### 11. Sending Automated Emails (smtplib, yagmail)

### 12. Introduction to Data Science Workflow

### 13. NumPy Basics (arrays, operations)

### 14. Pandas Basics (data frames, filtering, grouping)

### 15. Class Project 1

### 16. Class Project 2